.product-details {
  padding: 3rem 7rem;
  width: 100%;

  .product-contents {
    display: flex;
    justify-content: space-between;

    .image-slider {
      width: 50rem;
      height: 50rem;
      position: relative;
      // background-image: url("./../public/barcaH/default.jpg");
      background-size: cover;

      .product-images {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background: #383;
        border-radius: 0.5rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        height: 7rem;
        grid-gap: 1rem;
        padding: 1rem;

        img {
          width: 100%;
          height: 8rem;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }
}
.product-images img.active {
  opacity: 0.8;
}
