.section-hero {
  height: max-content;
  width: 100%;
  height: 80vh;

  &__content {
    padding: 0 8rem;

    &--text {
      .about__content--btn {
        margin: 1rem 0;
      }
    }
    &--image {
      height: 45rem;
      margin-top: 2rem;
      div {
        height: 100%;
      }

      img {
        height: 45rem;
      }
    }
  }
}
.typewriter {
  width: 100%;
  padding: 1rem 0;

  .changing-text {
    color: $color-secondary;
    font-weight: bolder;
  }
}

.composition {
  position: relative;
  width: 100%;
  height: max-content;

  .composition-image {
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(#000000, 0.4);
    z-index: 9;
    transition: all 0.3s;
    width: 20rem;
    height: auto;
    outline-offset: 0.9rem;
    &:hover {
      transform: scale(1.08);
      z-index: 12;
      outline: 0.65rem solid $color-primary-light;
    }
  }
  &:hover &-image:not(:hover) {
    transform: scale(0.93);
    opacity: 0.9;
  }
  .composition-image-pic1 {
    left: 30%;
    top: 10rem;

    z-index: 11;
  }
  .composition-image-pic2 {
    left: 9%;
    top: 20rem;
  }
  .composition-image-pic3 {
    left: 9%;
    top: 0;
  }
  .composition-image-pic4 {
    right: 9%;
    top: 0;
    z-index: 10;
  }
  .composition-image-pic5 {
    right: 9%;
    top: 22rem;
  }
}
.hor-line-about {
  margin: 8rem 0 1rem 0;
}
.hor-line-small {
  border: 1.5px solid $color-primary;
  width: 6rem;
  color: $color-primary;
}
